:root {
    user-select: none;
}

.meeting-grid {
    /* display: grid; */
    /* grid-template-columns: 200px 200px 200px; */
    /* grid-template-columns: 1fr; */

    display: inline-block;
    margin: 50px auto;
    padding: 0px 20px;
}

.meeting-row {
    /* display: grid; */
    display: block;
    font-size: 0px;
    vertical-align: top;
}

.meeting-time-cell {
    display: inline-block;
    vertical-align: top;
    /* border: 1px solid black; */
    height: 9px;
    width: 44px;
}

.meeting-time-cell-selected {
    background: rgb(51, 153, 0);
}

.meeting-time-cell-unselected {
    background: rgb(255, 222, 222);
}

.meeting-time-cell-unavailable {
    background: #505050;
}

.AttendeeHalfPanel {
    display: inline-block;
    white-space: nowrap;
    text-align: center;
    font-size: 18px;
    margin: 50px auto;
    padding: 0px 20px;
}

.GridHeader {
    display: inline-block;
    text-align: center;
}